@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [type='text'],  [type='email'] {
    @apply focus:ring-offset-0 focus:ring-transparent focus:outline-none border-none
  }

  .beforeBar {
    @apply before:content-[''] before:inline-block before:w-1 before:mr-1 before:h-4 before:mainColor dark:before:darkMainColor
  }

  .topics {
    @apply font-semibold beforeBar
  }

  .dark-mode {
    @apply right-0 border-none bg-gray-600 bg-[url('./assets/toggle.svg')]
  }

  .mainColor {
    @apply bg-red-600
  }

  .darkMainColor {
    @apply bg-gray-900
  }

  .animateTitle {
    @apply inline-block relative animate-title-animation
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  max-height: 8px;
  display: inline;
}

::-webkit-scrollbar-track-piece {
  background-color: #e8e9f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59 130 246);
  border-radius: 6px;
}
